body{
    margin:0;
    padding: 0;
    min-height: 100vh;
    font-family: Yu Gothic UI Light;
   
}

.container{
  max-width: 1000px;
  background: linear-gradient(to right, #d00340, #e13128 30%, #f7680c);
   margin: 25px auto;
}

.container .boxes{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   text-align: center;
   margin: 10px ;
   
}
.box1{
  border: 1px solid;
  /* flex-basis: 17rem; */
  margin: 10px;
  flex-grow: 1;
  color: white;
}
.box2{
  border: 1px solid;
  /* flex-basis: 17rem; */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box3{
  border: 1px solid;
  /* flex-basis: 17rem;  */
  margin: 10px;
  flex-grow: 1;color: white;
}

.box4{
  border: 1px solid;
  /* flex-basis:26rem; */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box5{
  border: 1px solid;
  /* flex-basis: 26rem;   */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box6{
  border: 1px solid;
  /* flex-basis: 12.3rem;  */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box7{
  border: 1px solid;
  /* flex-basis: 12.3rem;  */
  margin: 10px;
  flex-grow: 1;color: white;

}
.box8{
  border: 1px solid;
  /* flex-basis: 12.3rem;  */
  margin: 10px;
  flex-grow: 1;
  color: white;
}
.box9{
  border: 1px solid;
  /* flex-basis: 12.3rem;  */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box10{
  border: 1px solid;
  /* flex-basis:7.8rem;  */
  margin: 10px;
  flex-grow: 1;
  color: white;
}
.box11{
  border: 1px solid;
  /* flex-basis:7.8rem;   */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box12{
  border: 1px solid;
  /* flex-basis:7.8rem; */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box13{
  border: 1px solid;
  /* flex-basis:7.8rem;  */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box14{
  border: 1px solid;
  /* flex-basis:7.8rem;  */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box15{
  border: 1px solid;
  /* flex-basis:7.8rem; */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box16{
  border: 1px solid;
  /* flex-basis: 26rem; */
  margin: 10px;
  flex-grow: 3;color: white;
}
.box17{
  border: 1px solid;
  /* flex-basis: 12.3rem;  */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box18{
  border: 1px solid;
  /* flex-basis: 12.3rem; */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box19{
  border: 1px solid;
  /* flex-basis: 12rem;  */
  margin: 10px;
  flex-grow: 1;color: white;
}
.box20{
  border: 1px solid;
  /* flex-basis: 27rem; */
  margin: 10px;
  flex-grow: 5;color: white;
}
.box21{
  border: 1px solid;
  /* flex-basis: 12rem;   */
  margin: 10px;
  flex-grow: 1;color: white;
}

@media all and (max-width: 270px){
  .container .boxes{
    flex-direction: column;
    
 }
}
